* {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}
.chatWindow {
  border: solid black 2px;
  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.message {
  line-height: 30px;
  padding: 7px;
  max-width: 50%;
  align-self: flex-start;
  background-color: darkgray;
  border-radius: 15px;
  margin-top: 5px;
}

.activeUser {
  align-self: flex-end;
  background-color: blue;
  color: white;
}

#Inputbox {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-top: 2px solid gray;
}
#inputText {
  width: 90%;
  height: 25px;
  font-size: 20px;
}

#send {
  width: 10%;
}

#chat {
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 500px;
}
