.chatWindow {
  background-color: lightgray;
  width: 70%;
  float: right;
  display: flex;
  flex-direction: column;
}
.message {
  line-height: 30px;
  width: 10%;
  align-self: flex-start;
  background-color: darkgray;
  border-radius: 25px;
  text-align: center;
}

.activeUser {
  align-self: flex-end;
  background-color: lightblue;
}
